<!doctype html>
<html>
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    <div class="page">
      {% include "partials/nav.njk" %}
      <div class="content">
        {{ content | safe }}
        <!--#follow-->
      </div>
    </div>
  </body>
</html>