body {
    background-color: black;
    color: #eff1ff;
    text-shadow: 2px 2px #212421,
        1px 1px #212021;
}

nav {
    width: 100px;
    height: 130px;
    margin: 0;
    display: inline-block;
    background: linear-gradient(0deg, #06004d 0%, #04009d 100%);
    border-radius: 15px 0px 0px 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    padding: 10px;
    margin: 0;
    text-align: center;
    border-color: #424542;
    border-width: 1px;
    box-shadow: 1px 1px #e7dfe7,
        -1px -1px #e7dfe7,
        1px -1px #e7dfe7,
        -1px 1px #e7dfe7,
        0 -2px #9c9a9c,
        -2px 0 #7b757b,
        0 2px #424542;
    border-style: solid none solid solid;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
    color: #eff1ff;
    text-shadow: 2px 2px #212421,
        1px 1px #212021;
    text-decoration: none;
}

nav ul li:first-of-type {
    border-radius: 15px 0px 0px 0px;
    border-style: solid none none solid;
    border-width: 1px;
}

nav ul li:last-of-type {
    border-radius: 0px 0px 0px 15px;
    border-style: none none solid solid;
    border-width: 1px;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
}

.content {
    padding: 0px 10px;
    width: 100%;
    border-style: solid;
    border-radius: 0px 15px 15px 0px;
    border-color: #424542;
    box-shadow: 1px 1px #e7dfe7,
        -1px -1px #e7dfe7,
        1px -1px #e7dfe7,
        -1px 1px #e7dfe7,
        0 -2px #9c9a9c,
        -2px 0 #7b757b,
        0 2px #424542;
    border-style: solid none solid solid;
    background: linear-gradient(0deg, #06004d 0%, #04009d 100%);
}

.content img[alt=Mithra] {
    width: 32px;
    height: 32px;
}

.content a:link,
.content a:visited,
.content a:hover,
.content a:active {
    color: #eff1ff;
    text-shadow: 2px 2px #212421,
        1px 1px #212021;
}

.content ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.ffxi {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}

.ffxi p {
    margin: 0;
}