$blue-color: #04009d;
$black-color: #06004d;
$text-color: #eff1ff;

$nav-height: 217px;

html {
  height: 100%;
  width: 100%;
  cursor: url("/assets/cursor.png"), auto;
}

body {
  background-color: black;
  color: $text-color;
  text-shadow:
    2px 2px #212421,
    1px 1px #212021;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  padding: 10px;
}

a {
  cursor: url("/assets/cursorlink.png"), auto;
}

nav {
  width: 100px;
  height: $nav-height;
  background: linear-gradient(0deg, $black-color 0%, $blue-color 100%);
  border-radius: 15px 0px 0px 15px;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: 10px;
      margin: 0;
      text-align: center;
      border-color: #424542;
      border-width: 1px;
      box-shadow:
        1px 1px #e7dfe7,
        -1px -1px #e7dfe7,
        1px -1px #e7dfe7,
        -1px 1px #e7dfe7,
        0 -2px #9c9a9c,
        -2px 0 #7b757b,
        0 2px #424542;
      border-style: solid none solid solid;
    }

    li:first-of-type {
      border-radius: 15px 0px 0px 0px;
      border-style: solid none none solid;
      border-width: 1px;
    }

    li:last-of-type {
      border-radius: 0px 0px 0px 15px;
      border-style: solid none solid solid;
      border-width: 1px;
    }
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #eff1ff;
    text-shadow:
      2px 2px #212421,
      1px 1px #212021;
    text-decoration: none;
  }
}

.page {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.content {
  // overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: $nav-height - 40px;
  padding: 20px;
  min-width: 325px;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px 15px 15px 0px;
  border-color: #424542;
  box-shadow:
    1px 1px #e7dfe7,
    -1px -1px #e7dfe7,
    1px -1px #e7dfe7,
    -1px 1px #e7dfe7,
    0 -2px #9c9a9c,
    -2px 0 #7b757b,
    0 2px #424542;
  border-style: solid none solid solid;
  background: linear-gradient(0deg, $black-color 0%, $blue-color 100%);

  iframe {
    flex-shrink: 1;
    max-width: 520px;
    padding-right: 10px;
  }

  p {
    max-width: 100%;
    margin-bottom: 10px;
  }

  p.bigp {
    max-width: 800px;
  }

  h1 {
    margin-top: 5px;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 5px;
    margin-bottom: 0;
  }

  img[alt="Icon"] {
    width: 32px;
    height: 32px;
  }

  img[alt="Small Icon"] {
    width: 24px;
    height: 24px;
  }

  h2:has(> img[alt="Icon"]) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin-bottom: 5px;
  }

  li:has(> img[alt="Small Icon"]) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: gold;
    text-shadow:
      2px 2px #212421,
      1px 1px #212021;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
  }
}

.list-em {
  color: gold;
  font-weight: 700;
  font-size: 18px;
}
