<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/css/base.css?v=0.0.2"/>
<script src="/scripts/base.js?v=0.0.3"></script>
<title>{{ title or "ActualPanda's Website" }}</title>