<nav>
    <ul>
        <a href="/">
            <li>Home</li>
        </a>
        <a href="/game">
            <li>Game</li>
        </a>
        <a href="/blogs">
            <li>Blog</li>
        </a>
        <a href="/portfolio">
            <li>Portfolio</li>
        </a>
        <a href="/socials">
            <li>Socials</li>
        </a>
    </ul>
</nav>