<nav>
    <ul>
        <a href="//?u=1">
            <li>Home</li>
        </a>
        <a href="/game/?u=1">
            <li>Game</li>
        </a>
        <a href="/blogs/?u=1">
            <li>Blog</li>
        </a>
        <a href="/portfolio/?u=1">
            <li>Portfolio</li>
        </a>
        <a href="/socials/?u=1">
            <li>Socials</li>
        </a>
    </ul>
</nav>