<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/game">Games</a></li>
        <li><a href="/blogs">Blog</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/socials">Socials</a></li>
    </ul>
</nav>